<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <center>{{"You have ADMIN privilleges" if isAdmin else "You do not have Admin privilleges"}}</center>
    <form class="container border border-primary p-3 mb-3" action="/addamenity" method="post">
        <div class="mb-3">
            <h3>Add an Amenity</h3>
            <br>

            <div class="form-group">
                <label for="name">Amenity Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter amenity name" required>

            </div>

            <br>

            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="number" step="any" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude" required>

            </div>

            <br>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="number" step="any" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude" required>

            </div>
            
        </div>
    
        <button class="btn btn-primary" type="submit">{{"Submit" if isAdmin else "Submit for approval"}}</button>
        {% if amenitysuccess %}
        <p class="text-success">Successfully requested</p>
        {% endif %}
    </form>
    
    

    <form class="container border border-primary p-3 mb-3" action="/addrestaurant" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <h3>Add a Restaurant</h3>
            <br>

            <div class="form-group">
                <label for="place">Restaurant Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter place name" required>

            </div>

            <br>

            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="number" step="any" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude" required>

            </div>

            <br>
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="number" step="any" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude" required>

            </div>
            <br>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" min="0" max="5" step="0.1" class="form-control" id="rating" name="rating" required>

            </div>
            <br>
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" name="file" id="formFileMultiple" required/>

        </div>
    
        <button type="submit" class="btn btn-primary" type="submit" value="#563d7c">{{"Submit" if isAdmin else "Submit for approval"}}</button>
        {% if restaurantsuccess %}
        <p class="text-success">Successfully requested</p>
        {% endif %}
    </form>
    

</body>
</html>